{% extends "base.html.twig" %}

{% block body %}
{% for message in app.flashes("success") %}
	<div style="color:green">{{message}}</div>
{% endfor %}

	<div class="card" style="width: 50rem;">
		<img src="https://picsum.photos/250/80" alt="" srcset="">

		<div class="card-body">
			<h5 class="card-title">{{ article.titre }}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{ article.categorie.nom }}</h6>
			<p class="card-text">{{ article.contenu }}</p>
			<p>{{ article.user.pseudo }}
				-
				{{ article.datePublication|date("d/m/Y")}}</p>
			<a href="../main" class="card-link">Retour</a>
			<a href="#" class="card-link">Vous aimerez aussi</a>
		</div>
	</div>

	{# <div class="form-floating mb-3">
				<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
				<label for="floatingInput">Email address</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
				<label for="floatingPassword">Password</label>
			</div> #}
	{% if app.user %}
		<h2>Rédigez votre commentaire</h2>
		{{ form(commForm) }}{% endif %}
		<h2>Commentaires</h2>
		{% for commentaire in article.commentaires %}
			{% if commentaire.publie %}
				<p>
					Id du commentaire :{{ commentaire.id }}
				</p>
				<p>
					Posté le :
					{{ commentaire.date|date("d/m/Y") }}
					par{{ commentaire.user.pseudo }}
				</p>
				<p>{{ commentaire.contenu }}
				</p>
			{% endif %}
		{% endfor %}
	{% endblock %}
